<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav pl-3 font-weight-bold">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Ajude</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Frases homofóbicas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Conscientizi-se</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Precisa de ajuda?</a>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex justify-content-center bg-black">
<img class="img-fluid" src="../../assets/img/bandeira-lgbt-de-arco-iris-como-plano-de-fundo_107592-1165.jpg" alt="Bandeira LGBT">
</div>